@font-face {
	font-family: 'Quicksand';
	src: url(./assets/fonts/Quicksand.woff2) format('woff2');
}

body {
  color: #373D3F;
  font-family: 'Quicksand' !important;
  font-size: 16px;
  font-weight: normal;
}

.auth-link {
  color: #004380;
  font-family: 'Quicksand';
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .main-card {
    min-width: 100% !important;
    min-height: 100% !important;
  }
}

@media only screen and (min-width: 992px) {
  .main-card {
    min-width: 500px !important;
    min-height: 300px !important;
  }
}

